<html>
    <head>
        <title>
            Coducer Technologies | Web Application Development | Mobile Application Development | Mobile Application Developers | iPhone App Development | Product Development | Ruby on Rails | Android | iOS
        </title>
    </head>
    <body>
<!-- NAVIGATION -->
<!--<head>
 <script>
  window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
}
</script> 
</head>-->
<nav class="fixed-top" id="navigation">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 center">
        <!-- LOGO -->
        <a class="brand pull-left" href="/">
          <img src="/assets/images/logo.png" alt="Coducer">
        </a>
        <!-- END LOGO -->

        <!-- MOBILE MENU BUTTON -->
        <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <!-- END MOBILE MENU BUTTON -->

        <!-- MAIN MENU -->
        <ul id="main-menu" nav class="navbar navbar-default">
          <li><a href="#page-welcome">Home</a></li>
          <li><a href="#page-work">Work</a></li>
          <li><a href="#page-features"> Why Us?</a></li>
          <li><a href="#page-about">About</a></li>
          <li><a href="#page-blog">Blog</a></li>
          <li><a href="#page-contact">Contact</a></li>
        </ul>
        <!-- END MAIN MENU -->

        <!-- SOCIAL ICONS -->
        <div class="social-icons hover-big pull-right">
          <a href="http://www.twitter.com/coducer" class="sicon-twitter" target="_blank"><i>Twitter</i></a>
          <!-- <a href="http://www.youtube.com/coducer" class="sicon-youtube" target="_blank"><i>Youtube</i></a> -->
          <!-- <a href="http://www.pintrest.com/coducer" class="sicon-pinterest" target="_blank"><i>Pinterest</i></a> -->
        </div>
        <!-- END SOCIAL ICONS -->
      </div>
    </div>
  </div>
</nav>
<!-- END NAVIGATION -->

<!-- PAGE | WELCOME -->
<head>
<!--<script>
  window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
}
</script> -->
</head>
<body>
  <section id ="#page-welcome">
    <div class="pages white paralax" id="page-welcome">
    <div class="overlay"></div>
    <!-- Centralized content -->
    <div class="centralized">
    <div class="container">
      <div class="row-fluid">
        <div class="span20 center">

          <!-- Animated logo -->
          <div class="logo">
            <div class="scrollNormal">
              <a href="#page-work">
                <img src="/assets/images/pages/welcome/logo_welcome.png" width="140" height="140" alt="Coducer">
              </a>
            </div>
            <div class="scrollDown">
              <a href="#page-work">
                <img src="/assets/images/pages/welcome/logo2_welcome.png" width="140" height="140" alt="Coducer">
              </a>
            </div>
          </div>

          <div class="line-divider" id="welcome-messages">
            <ul class="slides">
              <li>
                <h1>Mobile and Web Apps</h1>
              </li>
              <li>
                <h1>Data Science</h1>
              </li>
              <li>
                <h1>AI / ML</h1>
              </li>
              <li>
                <h1>Internet of Things (IOT)</h1>
              </li>
            </ul>
          </div>
          <p>We Help You Build your dream.</p>
          <div class="social-icons sicon-white bordered">
            <a href="http://www.twitter.com/coducer" class="sicon-twitter" target="_blank"><i>Twitter</i></a>
            <a href="http://www.linkedin.com/#" class="sicon-linkedin" target="_blank"><i>LinkedIn</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- END PAGE | Welcome -->
</section>
<!-- PAGE | WORK -->
<section id ="#page-work">
  <div class="pages" id="page-work">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Work</h4>
      <h1>Portfolio</h1>
      <!-- Short desciption about Work in general -->
      <div class="row">
        <div class="span8 offset2">
          <p>
            Your ideas deserve the best possible ways of finding its way online. We serve across different verticals and have a long clientele. Take a look at the projects we have handled in the past,
          </p>
        </div>
      </div>

      <!-- Sub menu -->
      <!--
          Params:
          plugin-filter: Defines links for filtering.
        -->
      <nav class="submenu">
        <ul>
          <li>
            <a href="#" class="plugin-filter active" data-filter="all">All</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="website">Web Development</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="mobile-app">Mobile Apps</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="datascience">Data Science</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- Portfolio items
           Params:
           plugin-filter-elements: Defines items for filtering, each item has class which defines filter value.
           portfolio-items: Customise portfolio items for hover effect.
        -->
      <ul class="thumbnails plugin-filter-elements portfolio-items">
        <li class="span4 mix website">
          <a href="http://www.giveindia.org" target='_blank' data-destination="portfolio-items" data-insert="before">
            <!-- Portfolio image -->
            <img src="/assets/images/pages/work/giveindia.png" alt="Give India" style="">

            <!-- Portfolio name, activated on hover -->
            <div class="portfolio-overlay">
              <h4>www.giveindia.org</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix datascience website">
          <a href="http://www.thirai.io" data-destination="portfolio-items" data-insert="before">
            <!-- Portfolio image -->
            <img src="/assets/images/pages/work/thirai.png" alt="thirai">

            <!-- Portfolio name, activated on hover -->
            <div class="portfolio-overlay">
              <h4>www.thirai.io</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix website">
          <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
            <!-- Portfolio image -->
            <img src="/assets/images/pages/work/omaengine.png" alt="OMA Engine">

            <!-- Portfolio name, activated on hover -->
            <div class="portfolio-overlay">
              <h4>www.OMAEngine.com</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix website">
          <a href="https://web.archive.org/web/20200115052318/http://www.via.me/" data-destination="portfolio-items" data-insert="before">
            <img src="/assets/images/pages/work/viame.jpg" alt="Via Me">
            <div class="portfolio-overlay">
              <h4>www.via.me</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix website">
          <a href="#pages/portfolio/project_3.html" data-destination="portfolio-items" data-insert="before">
            <img src="/assets/images/pages/work/ifyousayyes.png" alt="ifyousayyes">
            <div class="portfolio-overlay">
              <h4>www.ifyousayyes.com</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix website branding">
          <a href="#pages/portfolio/project_4.html" data-destination="portfolio-items" data-insert="before">
            <img src="/assets/images/pages/work/eatwithus.png" alt="Eatwithus">
            <div class="portfolio-overlay">
              <h4>www.eatwithus.in</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix website">
          <a href="#pages/portfolio/project_7.html" data-destination="portfolio-items" data-insert="before">
            <img src="/assets/images/pages/work/Bestfrent.png" alt="Bestfrent">
            <div class="portfolio-overlay">
              <h4>www.bestfrent.com</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix mobile-app">
          <a href="http://www.str8bat.com" data-destination="portfolio-items" data-insert="before">
            <!-- Portfolio image -->
            <img src="/assets/images/pages/work/str8bat.png" alt="str8bat">

            <!-- Portfolio name, activated on hover -->
            <div class="portfolio-overlay">
              <h4>www.str8bat.com</h4>
            </div>
          </a>
        </li>
        <!-- <li class="span4 mix mobile-app branding">
          <a href="#pages/portfolio/project_4.html" data-destination="portfolio-items" data-insert="before">
            <img src="/assets/images/pages/work/eatwithus_mobile.jpg" alt="Eatwithus">
            <div class="portfolio-overlay">
              <h4>www.eatwithus.in</h4>
            </div>
          </a>
        </li> -->

      </ul>
    </article>
    <!-- End Article -->

    <!-- Footer -->
    <footer>
      <div class="show-more-cube">
        <a href="./portfoliopage.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
          <span>Show<br/>More</span>
        </a>
      </div>
    </footer>
    <!-- End footer -->
  </div>
</div>
</section>
<!-- END PAGE | WORK -->

<!-- PAGE | FEATURES  -->
<section id ="#page-features">
<div class="pages white paralax" id="page-features">
  <div class="overlay"></div>
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Why Us?</h4>
      <!-- <h1>What's Inside</h1> -->
      <div class="row">
        <div class="span8 offset2">
          <p style="text-align:center">
            <strong>We have built and shipped products that have helped businesses solve their problems, increase revenue and keep scaling to greater heights</strong>
            <br />
            As a strong tech team with a good grip on the latest tech, you would love to hire and work with us. We offer these services,
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- Features blocks -->
      <div class="row-fluid">
        <div class="span4 center">
          <img src="/assets/images/pages/features/about01.png" alt="Treble">
          <h5>Web and Mobile Application Development</h5>
          <p class="smallFontBy08 cutBy10">We build scalable and responsive Web applications using Node.js / Ruby (Rails) / Html5 / Css3. The mobile solutions are native / cross platform applications built using Phonegap / Native Android / IOS, for startups and enterprise market.</p>
        </div>
        <div class="span4 center">
          <img src="/assets/images/pages/features/about02.png" alt="Treble">
          <h5>Problem Solving</h5>
          <p class="smallFontBy08 cutBy10"> We use intelligent and efficient systems to solve various business problems and generate scalable solutions for your niche. Our primary goal is to understand your pain points and design perfect solutions to solve them. Win -Win.</p>
        </div>
        <div class="span4 center">
          <img src="/assets/images/pages/features/about03.png" alt="Treble">
          <h5>Data Science</h5>
          <p class="smallFontBy08 cutBy10"> Data is today's gold. Understanding data and working on them is one of our core competencies. We build highly agile and innovative solutions with the help of Data Science and other trending and cutting edge technologies.</p>
        </div>
      </div>
      <!-- Testemonials -->
      <div class="row-fluid">
        <div class="span8 offset2">
          <div class="quote center">
            <div id="quote-slider" class="slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  Coducer Support their clients in building scalable web and mobile applications with recent technologies. Their right mix of skills in server, browser and mobile technologies help us to build scalable products.
                  <h5>Happy client</h5>
                </div>
                <div class="item">
                  Coducer goes extreme in delivering highly technical competent solutions to our company. They adopt and implement new technologies and solutions.
                  <h5>Happy client</h5>
                </div>
                <div class="item">
                  We found team Coducer is committed, bright talented people that deliver awesome results. We saw them as always keen to learn, standard and focused on delivering quality products.
                  <h5>Happy client</h5>
                </div>
              </div>
              <!-- Carousel indicators -->
              <ol class="carousel-indicators">
                <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                <li data-target="#quote-slider" data-slide-to="1"></li>
                <li data-target="#quote-slider" data-slide-to="2"></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- End Article -->
  </div>
</div>
</section>
<!-- END PAGE | FEATURES -->

<!-- PAGE | ABOUT -->
<section id ="#page-about">
  <div class="pages" id="page-about">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">About</h4>
      <h1>Meet The Team</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            A tech team that's proficient in the latest technologies to provide you with intelligent and agile solutions will work on your ideas to make it a reality. We are the right people to help you with intelligent solutions for launching and scaling your business. Come meet us,
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- List of people and description with their contact details which are visable on hover -->
      <ul class="thumbnails about-items">
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/jai.png" alt="Jaikeerthi">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://twitter.com/kjaikeerthi" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/kjaikeerthi" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:jai@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>jai@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Jaikeerthi<br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08">With the wisdom of working in few startups, he ended up in his entrepreneur life Coducer. He is the brain behind eatwithus.in. He handles Product & strategies.</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <!-- Team member image -->
            <img class="img-circle" src="/assets/images/pages/about/Tejesh.jpeg" alt="tejesh">

            <!-- Team memeber details, activated on hover -->
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="https://www.linkedin.com/in/tejesh-pichandi-2322b215a/" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:tejesh@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>tejesh@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <!-- Team member name and function -->
          <h5>
            Tejesh<br/>
            <small>Developer</small>
          </h5>

          <!-- Team member short info -->
          <p class="smallFontBy08">Climbing up the carrer ladder from being a tester, developer, analyst in a startup and now to a full on master in developing applications @ coducer</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/Jebaz.jpeg" alt="jebaz">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://twitter.com/JebazAlex" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="https://www.linkedin.com/in/jebaz-r-71995ba1" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:jebaz@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>jebaz@coducer.com</i>
                </a>
              </div>
            </div>
          </div>
          <h5>
            Jebaz<br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra vitae dolor ut malesuada. Morbi convallis lorem nec est ultricies molestie.Building apps @ Coducer</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/Vignesh.jpeg" alt="vignesh">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/#https://www.linkedin.com/in/ck-vignesh-/" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:vignesh@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>vignesh@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Vignesh<br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08"> Started as a web developer creating projects and contributing to Open Source. Currently building apps @ Coducer </p>
        </li>
        <!--
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/mahesh.jpeg" alt="mahesh">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/pub/#" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:mahesh@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>mahesh@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Mahesh <br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra vitae dolor ut malesuada. Morbi convallis lorem nec est ultricies molestie. Building apps @ Coducer</p>
        </li>
        -->
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/user.jpeg" alt="User">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/#" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
            </div>
          </div>

          <h5>
            Plan to Join us?<br/>
            <small> </small>
          </h5>
          <p class="smallFontBy08">Email us at: <a href="mailto:careers@coducer.com">careers@coducer.com</a></p>
        </li>
        
      </ul>
    </article>
    <!-- End Article -->
  </div>
  </div>
</section>
<!-- END PAGE | ABOUT -->

<!-- PAGE | BLOG -->
<section id ="#page-blog">
<div class="pages" id="page-blog">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Blog</h4>
<!--   //search blog part   
      <h1>Recent Blog Posts</h1>
      <div class="row">
        <div class="span8 offset2">
          <div class="input-append">
            <input class="span5" id="appendedInputButton" type="text" placeholder="Search Blog">
            <button class="btn btn-primary sicon-search sicon-white" type="button"><i>Search</i></button>
          </div>
        </div>
      </div>
-->
      <!-- Sub menu -->
      <!--
      <nav class="submenu">
        <ul>
          <li>
            <a href="blogposts.html">All</a>
          </li>
          <li>
            <a href="./pages/_includes/blog.html">web Development</a>
          </li>
          <li>
            <a href="_includes/blog.html">Mobile Apps</a>
          </li>
          <li>
            <a href="./pages/_includes/blog.html">Problem Solving</a>
          </li>
          <li>
            <a href="./pages/_includes/blog.html">Data Science</a>
          </li>
          <li>
            <a href="./pages/_includes/blog.html">Others</a>
          </li>
        </ul>
      </nav>
      -->
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- Blog articles -->
      <ul class="thumbnails">
        {% for post in site.posts offset: 0  %}
        {% include posts.html %}
        {% endfor %}
        <!-- <li class="span4"> -->
        <!--   <a href="./pages/blog/blog_2.html"> -->
        <!--     <img src="/assets/images/pages/blog/02_th_blog.jpg" alt="Treble"> -->
        <!--   </a> -->
        <!--   <h5> -->
        <!--     Blog Post Title<br/> -->
        <!--     <small>April 10, 2013</small> -->
        <!--   </h5> -->
        <!--   <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p> -->
        <!--   <div class="read-more"> -->
        <!--     <a href="./pages/blog/blog_2.html">Read More...</a> -->
        <!--   </div> -->
        <!-- </li> -->
        <!-- <li class="span4"> -->
        <!--   <a href="./pages/blog/blog_3.html"> -->
        <!--     <img src="/assets/images/pages/blog/03_th_blog.jpg" alt="Treble"> -->
        <!--   </a> -->
        <!--   <h5> -->
        <!--     Blog Post Title<br/> -->
        <!--     <small>April 10, 2013</small> -->
        <!--   </h5> -->
        <!--   <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p> -->
        <!--   <div class="read-more"> -->
        <!--     <a href="./pages/blog/blog_3.html">Read More...</a> -->
        <!--   </div> -->
        <!-- </li> -->
        <!-- <li class="span4"> -->
        <!--   <a href="./pages/blog/blog_4.html"> -->
        <!--     <img src="/assets/images/pages/blog/04_th_blog.jpg" alt="Treble"> -->
        <!--   </a> -->
        <!--   <h5> -->
        <!--     Blog Post Title<br/> -->
        <!--     <small>April 10, 2013</small> -->
        <!--   </h5> -->
        <!--   <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p> -->
        <!--   <div class="read-more"> -->
        <!--     <a href="./pages/blog/blog_4.html">Read More...</a> -->
        <!--   </div> -->
        <!-- </li> -->
        <!-- <li class="span4"> -->
        <!--   <a href="./pages/blog/blog_5.html"> -->
        <!--     <img src="/assets/images/pages/blog/05_th_blog.jpg" alt="Treble"> -->
        <!--   </a> -->
        <!--   <h5> -->
        <!--     Blog Post Title<br/> -->
        <!--     <small>April 10, 2013</small> -->
        <!--   </h5> -->
        <!--   <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p> -->
        <!--   <div class="read-more"> -->
        <!--     <a href="./pages/blog/blog_5.html">Read More...</a> -->
        <!--   </div> -->
        <!-- </li> -->
        <!-- <li class="span4"> -->
        <!--   <a href="./pages/blog/blog_6.html"> -->
        <!--     <img src="/assets/images/pages/blog/06_th_blog.jpg" alt="Treble"> -->
        <!--   </a> -->
        <!--   <h5> -->
        <!--     Blog Post Title<br/> -->
        <!--     <small>April 10, 2013</small> -->
        <!--   </h5> -->
        <!--   <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua,consectetur adipisicing elit.</p> -->
        <!--   <div class="read-more"> -->
        <!--     <a href="./pages/blog/blog_6.html">Read More...</a> -->
        <!--   </div> -->
        <!-- </li> -->
      </ul>
    </article>
    <!-- End Article -->

    <!-- Footer -->
    <footer>
      <!-- More blog posts -->
      <div class="show-more-cube">
      <a href="./blogpage.html"><span>All Blog<br/>Posts</span></a>
      </div>
    </footer>
    <!-- End Footer -->
  </div>
</div>
<!-- END PAGE | BLOG -->
</section>

<!-- PAGE | CONTACT -->
<section id ="#page-contact">
  <div class="pages black-bg white" id="page-contact">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Contact</h4>
      <h1>Say hello!</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            We like to create things with fun, open-minded people. Feel free to say hello! We'll respond as soon as possible.
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Start Article -->
    <article>
      <div class="row-fluid">
        <!-- Contact form -->
        <div class="span6">
          <h5>Drop Us A Line</h5>
          <form>
            <input type="text" class="span12" placeholder="Title" required="required">
            <input type="email" class="span12" placeholder="Email" required="required">
            <textarea rows="10" class="span12" required="required"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <!-- End Contact form -->
        <!-- Contact information -->
        <div class="span5 offset1">
          <h5>Meet Us</h5>
          <div class="media">
            <div class="social-icons sicon-white pull-left">
              <a href="#" class="sicon-phone"><i>Phone</i></a>
            </div>
            <div class="media-body smallFontBy08">
              (+91) 7760054546
            </div>
          </div>
          <div class="media">
            <div class="social-icons sicon-white pull-left">
              <a href="#" class="sicon-place"><i>Location</i></a>
            </div>
            <div class="media-body smallFontBy08">
              I 404 - Ajmera Infinity, Neeladri Road Doddathoguru, Karuna Nagar, Electronics City Phase 1, Electronic City, 
              Bengaluru, Karnataka 560100
            </div>
          </div>
          <div class="media">
            <div class="social-icons sicon-white pull-left">
              <a href="#" class="sicon-mail"><i>email</i></a>
            </div>
            <div class="media-body smallFontBy08">
              sales@coducer.com
            </div>
          </div>
          <div class="media">
            <div class="social-icons sicon-white pull-left">
              <a href="#" class="sicon-clock"><i>Time zone</i></a>
            </div>
            <div class="media-body smallFontBy08">
              UTC / GMT +5:30
            </div>
          </div>
          <br/>
          <br/>
          <br/>
        </div>
        <!-- End Contact information -->
      </div>
    </article>
    <!-- End Article -->

  </div>

  <!-- Background map image -->
  <div id="map-image">
    <img src="/assets/images/pages/contact/map_bck.jpg" alt="Treble">
  </div>
</div>
</section>
<!-- END PAGE | CONTACT -->
</body>
</html>