<!-- PAGE | ABOUT -->
<div class="pages" id="page-about">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">About</h4>
      <h1>Meet The Team</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            A tech team that's proficient in the latest technologies to provide you with intelligent and agile solutions will work on your ideas to make it a reality. We are the right people to help you with intelligent solutions for launching and scaling your business. Come meet us,
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- List of people and description with their contact details which are visable on hover -->
      <ul class="thumbnails about-items">
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/jai.png" alt="Jaikeerthi">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/kjaikeerthi" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/kjaikeerthi" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/kjaikeerthi" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:jai@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>jai@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Jaikeerthi<br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08">With the wisdom of working in few startups, he ended up in his entrepreneur life Coducer. He is the brain behind eatwithus.in. He handles Product & strategies.</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <!-- Team member image -->
            <img class="img-circle" src="/assets/images/pages/about/Tejesh.jpeg" alt="tejesh">

            <!-- Team memeber details, activated on hover -->
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/#" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="https://www.linkedin.com/in/tejesh-pichandi-2322b215a/" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:tejesh@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>tejesh@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <!-- Team member name and function -->
          <h5>
            Tejesh<br/>
            <small>Developer</small>
          </h5>

          <!-- Team member short info -->
          <p class="smallFontBy08">Climbing up the carrer ladder from being a tester, developer, analyst in a startup and now to a full on master in developing applications @ coducer</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/Jebaz.jpeg" alt="jebaz">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/#" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/#" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:jebaz@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>jebaz@coducer.com</i>
                </a>
              </div>
            </div>
          </div>
          <h5>
            Jebaz<br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/Vignesh.jpeg" alt="vignesh">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/#" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/#" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:vignesh@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>vignesh@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Vignesh<br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/mahesh.jpeg" alt="mahesh">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/#" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/pub/#" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:mahesh@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>mahesh@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Mahesh <br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/user.jpeg" alt="User">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://www.facebook.com/#" target="_blank" class="sicon-facebook"><i>Facebook</i></a>
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/#" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
            </div>
          </div>

          <h5>
            Join us?<br/>
            <small> </small>
          </h5>
          <p class="smallFontBy08">Email us at: <a href="mailto:careers@coducer.com">careers@coducer.com</a></p>
        </li>
        
      </ul>
    </article>
    <!-- End Article -->
  </div>
</div>
<!-- END PAGE | ABOUT -->