<!-- PAGE | ABOUT -->
<div class="pages" id="page-about">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">About</h4>
      <h1>Meet The Team</h1>
      <div class="row">
        <div class="span8 offset2">
          <p>
            A tech team that's proficient in the latest technologies to provide you with intelligent and agile solutions will work on your ideas to make it a reality. We are the right people to help you with intelligent solutions for launching and scaling your business. Come meet us,
          </p>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- List of people and description with their contact details which are visable on hover -->
      <ul class="thumbnails about-items">
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/jai.png" alt="Jaikeerthi">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://twitter.com/kjaikeerthi" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/kjaikeerthi" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:jai@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>jai@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Jaikeerthi<br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08">With the wisdom of working in few startups, he ended up in his entrepreneur life Coducer. He is the brain behind eatwithus.in. He handles Product & strategies.</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <!-- Team member image -->
            <img class="img-circle" src="/assets/images/pages/about/Tejesh.jpg" alt="tejesh">

            <!-- Team memeber details, activated on hover -->
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="https://www.linkedin.com/in/tejesh-pichandi-2322b215a/" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:tejesh@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>tejesh@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <!-- Team member name and function -->
          <h5>
            Tejesh<br/>
            <small>Developer</small>
          </h5>

          <!-- Team member short info -->
          <p class="smallFontBy08">Love to learn new things everyday, contribut across all area of product development. A vivid foodiee, travel enthusiast  love to feed everyone with his  chicken biryani</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/jebas.jpg" alt="jebaz">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://twitter.com/JebazAlex" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="https://www.linkedin.com/in/jebaz-r-71995ba1" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:jebaz@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>jebaz@coducer.com</i>
                </a>
              </div>
            </div>
          </div>
          <h5>
            Jebaz<br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08">Focused, calm and silent guy joined us straight out of college, Help us more with his ruby skills. He sometimes make everyone laugh with his sarcastic jokes</p>
        </li>
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/Vignesh.jpeg" alt="vignesh">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/in/#https://www.linkedin.com/in/ck-vignesh-/" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:vignesh@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>vignesh@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Vignesh<br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08"> Our latest intern, intrested to work in fintech domain, constantly learning everyday, one of the contributer for this website</p>
        </li>
        <!--
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/mahesh.jpeg" alt="mahesh">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
                <a href="https://twitter.com/#" target="_blank" class="sicon-twitter"><i>Twitter</i></a>
                <a href="http://in.linkedin.com/pub/#" target="_blank" class="sicon-linkedin"><i>LinkedIn</i></a>
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:mahesh@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>mahesh@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Mahesh <br/>
            <small>Developer</small>
          </h5>
          <p class="smallFontBy08">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pharetra vitae dolor ut malesuada. Morbi convallis lorem nec est ultricies molestie. Building apps @ Coducer</p>
        </li>
        -->
        
        <li class="span4 center">
          <div class="item">
            <img class="img-circle" src="/assets/images/pages/about/user.jpeg" alt="user">
            <div class="about-overlay img-circle">
              <div class="social-icons sicon-white">
              </div>
              <div style="margin-left: 15px;width:250px;float:left;top:50%;position:absolute">
                <hr style="margin-bottom:10px;" />
                <a href="mailto:careers@coducer.com" style="font-size:12px;color:white;text-decoration:none;">
                  <i>careers@coducer.com</i>
                </a>
              </div>
            </div>
          </div>

          <h5>
            Join Us <br/>
          </h5>
          <p class="smallFontBy08">Email us at: <a href="mailto:careers@coducer.com">careers@coducer.com</a></p>
        </li>
        
      </ul>
    </article>
    <!-- End Article -->
  </div>
</div>
<!-- END PAGE | ABOUT -->