<!-- PAGE | WORK -->
<div class="pages" id="page-work">
  <div class="container">
    <!-- Header -->
    <header>
      <h4 class="line-divider">Work</h4>
      <h1>Portfolio</h1>
      <!-- Short desciption about Work in general -->
      <div class="row">
        <div class="span8 offset2">
          <p>
            Your ideas deserve the best possible ways of finding its way online. We serve across different verticals and have a long clientele. Take a look at the projects we have handled in the past,
          </p>
        </div>
      </div>

      <!-- Sub menu -->
      <!--
          Params:
          plugin-filter: Defines links for filtering.
        -->
      <nav class="submenu">
        <ul>
          <li>
            <a href="#" class="plugin-filter active" data-filter="all">All</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="website">Web Development</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="mobile-app">Mobile Apps</a>
          </li>
          <li>
            <a href="#" class="plugin-filter" data-filter="datascience">Data Science</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- End Header -->

    <!-- Article -->
    <article>
      <!-- Portfolio items
           Params:
           plugin-filter-elements: Defines items for filtering, each item has class which defines filter value.
           portfolio-items: Customise portfolio items for hover effect.
        -->
      <ul class="thumbnails plugin-filter-elements portfolio-items">
        <li class="span4 mix website">
          <a href="http://www.giveindia.org" target='_blank' data-destination="portfolio-items" data-insert="before">
            <!-- Portfolio image -->
            <img src="/assets/images/pages/work/giveindia.png" alt="Give India" style="">

            <!-- Portfolio name, activated on hover -->
            <div class="portfolio-overlay">
              <h4>www.giveindia.org</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix datascience website">
          <a href="http://www.thirai.io" data-destination="portfolio-items" data-insert="before">
            <!-- Portfolio image -->
            <img src="/assets/images/pages/work/thirai.jpeg" alt="thirai">

            <!-- Portfolio name, activated on hover -->
            <div class="portfolio-overlay">
              <h4>www.thirai.io</h4>
            </div>
          </a>
        </li>
                <li class="span4 mix mobile-app">
          <a href="http://www.str8bat.com" data-destination="portfolio-items" data-insert="before">
            <!-- Portfolio image -->
            <img src="/assets/images/pages/work/str8bat.jpeg" alt="str8bat">

            <!-- Portfolio name, activated on hover -->
            <div class="portfolio-overlay">
              <h4>www.str8bat.com</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix website">
          <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
            <!-- Portfolio image -->
            <img src="/assets/images/pages/work/omaengine.png" alt="OMA Engine">

            <!-- Portfolio name, activated on hover -->
            <div class="portfolio-overlay">
              <h4>www.OMAEngine.com</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix website">
          <a href="https://web.archive.org/web/20200115052318/http://www.via.me/" data-destination="portfolio-items" data-insert="before">
            <img src="/assets/images/pages/work/viame.jpg" alt="Via Me">
            <div class="portfolio-overlay">
              <h4>www.via.me</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix website">
          <a href="#pages/portfolio/project_3.html" data-destination="portfolio-items" data-insert="before">
            <img src="/assets/images/pages/work/ifyousayyes.png" alt="ifyousayyes">
            <div class="portfolio-overlay">
              <h4>www.ifyousayyes.com</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix website branding">
          <a href="#pages/portfolio/project_4.html" data-destination="portfolio-items" data-insert="before">
            <img src="/assets/images/pages/work/eatwithus.png" alt="Eatwithus">
            <div class="portfolio-overlay">
              <h4>www.eatwithus.in</h4>
            </div>
          </a>
        </li>
        <li class="span4 mix website">
          <a href="#pages/portfolio/project_7.html" data-destination="portfolio-items" data-insert="before">
            <img src="/assets/images/pages/work/Bestfrent.png" alt="Bestfrent">
            <div class="portfolio-overlay">
              <h4>www.bestfrent.com</h4>
            </div>
          </a>
        </li>
      </ul>
    </article>
    <!-- End Article -->

    <!-- Footer -->
    <footer>
      <div class="show-more-cube">
        <a href="./portfoliopage.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">
          <span>Show<br/>More</span>
        </a>
      </div>
    </footer>
    <!-- End footer -->
  </div>
</div>
<!-- END PAGE | WORK -->
