@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;

}
.highlighttext{
    color: #F6E05E;
}

.pointers{
    font-weight: 700;
}

.aligner{
    display: flex;
    justify-content: center;
}

.point-header{
    font-size: 1.2rem;
    font-weight: 700;
}

.hero-subheader{
    font-family: 'Spline Sans';
    font-weight: 400;
}