@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

html{
    scroll-behavior: smooth;

}
.highlighttext{
    color: #F6E05E;
}

.pointers{
    font-weight: 700;
}

.aligner{
    display: flex;
    justify-content: center;
}

.point-header{
    font-size: 1.2rem;
    font-weight: 700;
}

.hero-subheader{
    font-family: 'Spline Sans';
    font-weight: 400;
}

/* .scope-opacity{
    opacity: 60%;
} */

.scroll-container {
    border: 3px solid transparent;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
  }
  
  .scroll-text {

    display: flex;
    justify-content: space-between;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 25s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }}
  
    .space{
      margin-right: 25px !important;
    }

    .pd,.download{
      font-size: 1rem;
      font-weight: 600
    }
    .pd,.download:hover{
      cursor: pointer;
      color: #F6E05E;;
    }